@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pode manter estilos globais simples aqui se quiser, como o fundo */
body {
  background-color: #f7fafc; /* Um cinza bem clarinho, quase branco */
}